# Diamond Price Predictions

In [1]:
import pandas as pd
import numpy as np

## Some usefull variables

In [15]:
PATH = '../data/diamonds.csv'

## Getting the data

In [17]:
df = pd.read_csv(PATH)
df.drop(df.columns[0], axis=1, inplace=True)
df.drop('depth', axis=1, inplace=True)
display(df.head())

   carat      cut color clarity  table  price     x     y     z
0   0.23    Ideal     E     SI2   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   58.0    335  4.34  4.35  2.75

**Carat:** Weight of the diamond.

**Cut Quality:** Quality of the cut (Fair, Good, Very Good, Premium, Ideal).

**Color:** Diamond color from J (worst) to D (best).

**Clarity:** Clarity of the diamond from I1 (worst) (SI2, SI1, VS2, VS1, VVS2, VVS1) to IF (best).

**Depth:** In terms of cut quality, depth is described in percentages. It can be calculated by dividing the diamond's physical depth measurement by its width. In our case, depth = z / mean(x, y) = 2 * z / (x + y).

**Table:** Width of top of diamond relative to widest point.

**X:** Length in mm.

**Y:** Width in mm.

**Z:** Physical depth measurement in mm.

**Price:** Price in US dollars.